<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog 4U</title>
</head>
<body class="flex-column min-100-vh">

    <header>
        <h1>Tech Blog 4U</h1>
    </header>

    <main>
        {{{body}}}
    </main>
    
    <footer class="flex-row justify-center">
        <h4>Made with Love and Lack of Sleep 128513</h4>
    </footer>
</body>
</html>